<div hx-get="/spinner_worker/run?job_id=<%= @job_id %>" hx-trigger="every 3s">
  <p>htmx is refreshing the page every 2 seconds. The spinner will continue to spin <em>smoothly</em> until the background job is complete, even through the refreshes.</p>
  <div class="spinner-border" role="status" id="spinner" hx-preserve="true">
    <span class="visually-hidden"></span>
  </div>
  <p>Refresh count <%= session[:counter] %></p>
</div>
