<h1>htmx</h1>

<a href="/progress_bar"><h2>Progress Bar</h2></a>
<p>Implement a basic, animated progress bar.</p>

<a href="/progress_bar_worker"><h2>Progress Bar - Worker</h2></a>
<p>Connect a progress bar to a Sidekiq worker that updates based on the status of the worker.</p>

<a href="/preserve_content"><h2>Preserve Content</h2></a>
<p>Make HTML content  maintain their state through a page refresh. Ideal for things like spinners and animation.</p>

<a href="/spinner_worker"><h2>Spinner Worker</h2></a>
<p>Display an animated spinner icon while a Sidekiq job is executing.</p>
