<h1>Rails Scratch</h1>

<p>Experiments, tech demos, proof of concepts and more!</p>

<p>Be aware that some of the content here is *experimental*. It might not work properly or is being fixed. Use at your own risk. If you do come across anything that does not work properly, please contact me.</p>

<p>&copy; John Pitchko 2021<br />
<a href="https://opensource.org/licenses/MIT"><img src="https://img.shields.io/badge/License-MIT-yellow.svg" /></a></p>
