<div class="mt-5" hx-target="this" hx-swap="outerHTML">
  <p>Complete! Press <strong>Restart Job</strong> to start the progress bar again.</p>
  <div class="progress">
    <div id="pb" class="progress-bar" style="width:100%">
  </div>
</div>

<button id="restart-btn" class="btn btn-primary mt-3" hx-post="/progress_bar/start" classes="add show:600ms">
  Restart Job
</button>
