 <h1>Progress Bar</h1>

 <div class="mt-5" hx-target="this" hx-swap="outerHTML">
  <p>Click the Start Job button to start the progress bar. It will run for 10 cycles, incrementing by 10% each cycle.</p>
  <button type="button" class="btn btn-primary" hx-post="/progress_bar/start">
    Start Job
  </button>
</div>
