<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Rails Galaxy</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/docker">Docker</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/git">Git</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/htmx">htmx</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about_me">About Me</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
